* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', Arial, sans-serif;
}

.custom-maxwidth {
    max-width: 1440px;
}

.custom-header {
    background: #fff;
    min-height: 70px;
    max-height: 75px;
    padding-top: 0;
    padding-bottom: 0;
}

.navbar-brand {
    font-size: 2rem;
    color: #313255 !important;
}

.custom-nav-link {
    font-size: 16px !important;
    color: #313255 !important;
    font-family: 'Inter', Arial, sans-serif;
    font-weight: 400;
    transition: color 0.2s;
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.custom-nav-link:hover, .custom-nav-link.active {
    color: #1f227c !important;
}

.gap-40px > *:not(:last-child) {
    margin-right: 40px;
}

/* Custom search box */
.search-form {
    position: relative;
    width: 270px;
    max-width: 100%;
}
.custom-search-input {
    border-radius: 25px 0 0 25px;
    border: none;
    background: #3A57E8;
    color: #fff;
    padding-left: 20px;
    font-size: 15px;
    height: 40px;
    box-shadow: none;
    width: 100%;
}
.custom-search-input::placeholder {
    color: #e0e6f7;
    opacity: 1;
}
.custom-search-btn {
    border-radius: 0 25px 25px 0;
    background: #3A57E8;
    border: none;
    color: #fff;
    height: 40px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: -2px;
}
.custom-search-input:focus {
    background: #3A57E8 !important;
    color: #fff;
    outline: 0;
    box-shadow: none;
}
.custom-search-btn:hover {
    background: #2c46b6;
}
.lang-switch {
    font-size: 16px;
    user-select: none;
}

.lang-switch .lang-option {
    cursor: pointer;
    margin-right: 8px;
    font-weight: 400;
    color: #b0b3c0; /* warna gray tidak aktif */
    transition: color 0.2s, font-weight 0.2s;
}

.lang-switch .lang-option:last-child {
    margin-right: 0;
}

.lang-switch .lang-option.active {
    color: #313255;
    font-weight: 700;
}

.custom-search-input:focus::-webkit-search-cancel-button {
    -webkit-filter: invert(1);
    filter: invert(1); /* Ubah warna jadi putih */
}

/* CAROUSEL */
.carousel,
.carousel-inner,
.carousel-item,
.carousel img {
    max-height: 693px;
    height: 693px;
}

.carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.carousel-caption {
    left: 0;
    right: 0;
    bottom: 0;
    padding-bottom: 40px;
    
}

.carousel-caption .main-title {
    font-size: 54px;
    font-weight: 600;
}

.carousel-caption .subtitle {
    font-size: 22px;
    font-weight: 300;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    word-break: break-word;
}

/* Hide next/prev button */
.carousel-control-prev, .carousel-control-next {
    display: none !important;
}

/* Custom indicator position */
.custom-indicators {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    margin-top: 16px;
}

.custom-indicators button {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border: none;
    background-color: #fff;
    opacity: 0.5;
    transition: opacity 0.3s;
}

.custom-indicators button.active {
    opacity: 1;
    background-color: #fff;
}

/* Achievment */
.up-achievment__line {
    background-color: #2b4f9d;
    height: 2px;
    margin-left: 100px;
    margin-top: 50px;
}

.up-achievment__item-image {
    width: 120px;
    height: 125px;
    background: #2b4f9d;
}

.up-achievment__item-text {
    color: #2b4f9d;
}

.up-achievment__item-text h2 {
    font-size: 44px;
    font-weight: 700;
}

/* Banner */
.banner {
    background-color: #2b4f9d;
}

.banner h2 {
    font-size: 54px;
}

.banner p {
    font-size: 18px;
    font-weight: 300;
    max-width: 700px;
}

.banner a {
    font-size: 18px;
    color: #a1afd4;
}

/* News */
.recent-news-title {
    font-size: 50px;
    color: #313255;
    font-weight: bold;
    margin-bottom: 40px;
}
.news-card {
    width: 364px;
    height: 468px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
    background: transparent;
    border: none;
}
.news-card-img {
    width: 100%;
    min-height: 468px;
    object-fit: cover;
    border-radius: 30px;
}
.news-card-desc {
    margin-top: 20px;
    font-size: 16px;
    color: #333456;
    max-width: 250px;
    text-align: center;
    text-decoration: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-weight: 400;
    transition: text-decoration 0.2s;
}
.news-card-desc:hover {
    text-decoration: underline;
}
.more-news-btn {
    margin-top: 10px;
    border-radius: 25px;
    padding: 8px 32px;
    font-size: 16px;
    background: #2b4f9d;
    border: none;
}
.more-news-btn:hover {
    background: #213c72;
}

@media (max-width: 1200px) {
    .news-card {
        width: 100%;
        max-width: 364px;
    }
}

/* Untuk desktop */
@media (min-width: 992px) {
    .custom-maxwidth {
        padding-left: 40px !important;
        padding-right: 80px !important;
    }
}

/* Untuk mobile & tablet */
@media (max-width: 991.98px) {
    .custom-maxwidth {
        padding-left: 20px !important;
        padding-right: 20px !important;
    }

    .navbar-nav .dropdown-menu {
        width: 90vw;
        left: -20px !important; /* agar dropdown rata dengan sisi layar jika container padding 20px */
        right: 0;
        border-radius: 0;
        margin-top: 0;
    }

    .search-form {
        width: 100% !important;
        margin-bottom: 0;
    }
    .custom-header .d-flex.align-items-center.ms-lg-4.mt-3.mt-lg-0 {
        width: 100%;
        margin-top: 20px !important; /* supaya jarak atas bawah sedikit */
        margin-left: 0 !important;
        gap: 10px;
        justify-content: space-between;
    }
    .lang-switch {
        flex-shrink: 0;
    }

    .gap-40px > *:not(:last-child) {
        margin-right: 0;
        margin-bottom: 10px;
    }
    .navbar-nav {
        align-items: flex-start !important;
    }

    /* News */
    .recent-news-title {
        font-size: 34px;
    }
    .news-card {
        width: 100%;
        max-width: 364px;
        height: auto;
    }
    .news-card-img {
        height: 220px;
    }
}

@media (max-width: 767.98px) {
    .search-form {
        width: 180px;
    }
    .custom-header {
        min-height: 60px;
    }

    /* CAROUSEL */
    .carousel,
    .carousel-inner,
    .carousel-item,
    .carousel img {
        height: 350px;
        max-height: 350px;
    }
    .carousel-caption  .main-title {
        font-size: 28px;
    }
    .carousel-caption .subtitle {
        font-size: 16px;
        max-width: 90vw;
    }

    .custom-indicators button {
        width: 10px;
        height: 10px;
    }

    .carousel-caption {
        padding-bottom: 20px;
    }

    /* Achievment */
    .up-achievment__top img {
        height: 70px !important;
    }

    .up-achievment__line {
        background-color: #2b4f9d;
        height: 2px;
        margin-left: 40px;
        margin-top: 20px;
    }

    /* Brand */
    .banner h2 {
        font-size: 48px;
    }

    .banner p {
        font-size: 16px;
    }
}

@media (max-width: 575.98px) {
    .news-card {
        width: 100%;
        max-width: 100%;
        height: auto;
    }
    .news-card-img {
        height: 180px;
    }
    .recent-news-title {
        font-size: 28px;
    }
    .news-card-desc {
        font-size: 14px;
    }
}